.tabs-box {
  background-color: var(--el-bg-color);
  .tabs-menu {
    position: relative;
    width: 100%;
    :deep(.el-tabs) {
      .el-tabs__header {
        box-sizing: border-box;
        height: 40px;
        padding: 0 10px;
        margin: 0;
        .el-tabs__nav-wrap {
          position: absolute;
          width: calc(100% - 70px);
          .el-tabs__nav {
            box-sizing: border-box;
            border: none;
            .el-tabs__item {
              border-bottom: 1px solid transparent;
              border-left: none;
            }
            .el-tabs__item.is-active {
              color: var(--el-color-primary) !important;
              border-bottom: 3px solid var(--el-color-primary);
            }
            .el-tabs__item:hover {
              color: unset;
            }
          }
        }
      }
    }
    .more-btn {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
