@font-face {
  font-family: 'iconfont'; /* Project id 4523094 */
  src:
    url('//at.alicdn.com/t/c/font_4523094_gp2m3ymq2j4.woff2?t=1716900957024') format('woff2'),
    url('//at.alicdn.com/t/c/font_4523094_gp2m3ymq2j4.woff?t=1716900957024') format('woff'),
    url('//at.alicdn.com/t/c/font_4523094_gp2m3ymq2j4.ttf?t=1716900957024') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toolbar-icon.iconfont {
  font-size: 22px;
}

.icon-user:before {
  content: '\e680';
}

.icon-lock:before {
  content: '\e66c';
}

.icon-more-outline:before {
  content: '\e66e';
}

.icon-yingyong:before {
  content: '\e6ae';
}

.icon-zhankai:before {
  content: '\e6b2';
}

.icon-shouqi:before {
  content: '\e6b3';
}

.icon-fangda:before {
  content: '\e6bb';
}

.icon-suoxiao:before {
  content: '\e6bc';
}

.icon-lingdang:before {
  content: '\e6a2';
}

.icon-taiyang:before {
  content: '\e6b4';
}

.icon-yueliang:before {
  content: '\e6b6';
}

.icon-yifu:before {
  content: '\e6bf';
}

.icon-tuichu:before {
  content: '\e6ad';
}

.icon-quanjia:before {
  content: '\e6be';
}

.icon-shanchu:before {
  content: '\e6a3';
}

.icon-xiugai:before {
  content: '\e6af';
}

.icon-sousuo:before {
  content: '\e6a6';
}

.icon-shangchuan:before {
  content: '\e6a7';
}

.icon-xiazai:before {
  content: '\e6aa';
}

.icon-zhuye:before {
  content: '\e6b0';
}

.icon-caidan:before {
  content: '\e6b1';
}

.icon-tongji:before {
  content: '\e6a9';
}

.icon-shuju:before {
  content: '\e6bd';
}

.icon-shezhi:before {
  content: '\e6a5';
}

.icon-paihang:before {
  content: '\e6c0';
}

.icon-suo:before {
  content: '\e6b5';
}

.icon-tishi:before {
  content: '\e6b7';
}

.icon-attachment:before {
  content: '\e7e1';
}

.icon-close-circle:before {
  content: '\e77d';
}

.icon-minus-circle:before {
  content: '\e780';
}

.icon-fold-closed:before {
  content: '\e6c1';
}

.icon-d-arrow-left:before {
  content: '\e668';
}

.icon-d-arrow-right:before {
  content: '\e669';
}

.icon-down:before {
  content: '\e6b8';
}

.icon-sync:before {
  content: '\e786';
}

.icon-fangke:before {
  content: '\e7e2';
}

.icon-fangche:before {
  content: '\e656';
}
