.gather-card {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 24px;
  border-radius: 8px;

  .card-info {
    .card-title {
      font-size: 14px;
    }

    .card-text {
      margin: 0;
      margin-top: 10px;
      font-size: 32px;
    }
  }

  .card-icon {
    i {
      font-size: 40px;
      color: rgb(30 32 37 / 18%);
    }
  }
}

.bg-1 {
  background: linear-gradient(rgb(43 90 237 / 80%) 0%, rgb(43 90 237) 100%);
}

.bg-2 {
  background: linear-gradient(rgb(251 164 10 / 80%) 0%, rgb(251 164 10) 100%);
}

.bg-3 {
  background: linear-gradient(rgb(43 174 133 / 80%) 0%, rgb(43 174 133) 100%);
}

.bg-4 {
  background: linear-gradient(rgb(241 144 140 / 80%) 0%, rgb(241 144 140) 100%);
}

.bg-5 {
  background: linear-gradient(rgb(0 201 245 / 80%) 0%, rgb(0 201 245) 100%);
}

.bg-6 {
  background: linear-gradient(rgb(36 134 185 / 80%) 0%, rgb(36 134 185) 100%);
}

.chart-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 360px;
  padding: 24px;
  background-color: var(--el-bg-color-overlay);
  border-radius: 8px;

  .chart-title {
    font-size: 20px;
    font-weight: 600;
  }
}
